<p id="notice"><%= notice %></p>
        <% if user_signed_in? %>
        <li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
        <%else %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Cadastrar", new_user_registration_path %></li>
        <%end %>
        <li><%= link_to "Roupas", roupas_path %></li>

<table>
  <thead>
    <tr>
      <th>Modelo</th>
      <th>Preco</th>
      <th>Foto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roupas.each do |roupa| %>
      <tr>
        <td><%= roupa.modelo %></td>
        <td><%= roupa.preco %></td>
        <td><%= image_tag roupa.picture_url, width: '100%' if roupa.picture.present? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
