<%= form_with(model: roupa, local: true) do |form| %>
  <% if roupa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(roupa.errors.count, "error") %> prohibited this roupa from being saved:</h2>

      <ul>
      <% roupa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :modelo %>
    <%= form.text_field :modelo %>
  </div>

  <div class="field">
    <%= form.label :preco %>
    <%= form.text_field :preco %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
