<p id="notice"><%= notice %></p>

<% if policy(@roupas).index? %>
<h1>Roupas</h1>

<table>
  <thead>
    <tr>
      <th>Modelo</th>
      <th>Preco</th>
      <th>Foto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roupas.each do |roupa| %>
      <tr>
        <td><%= roupa.modelo %></td>
        <td><%= roupa.preco %></td>
        <td><%= image_tag roupa.picture_url, width: '100%' if roupa.picture.present? %></td>
        <td><%= link_to 'Edit', edit_roupa_path(roupa) %></td>
        <td><%= link_to 'Destroy', roupa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Nova Roupa', new_roupa_path %>

<% else %>

<h1>Roupas</h1>

<table>
  <thead>
    <tr>
      <th>Modelo</th>
      <th>Preco</th>
      <th>Foto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roupas.each do |roupa| %>
      <tr>
        <td><%= roupa.modelo %></td>
        <td><%= roupa.preco %></td>
        <td><%= image_tag roupa.picture_url, width: '100%' if roupa.picture.present? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% end %>

