<p id="notice"><%= notice %></p>

<p>
  <strong>Modelo:</strong>
  <%= @roupa.modelo %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @roupa.preco %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@roupa.picture_url, width: 600) if @roupa.picture.present? %>
</p>

<%= link_to 'Edit', edit_roupa_path(@roupa) %> |
<%= link_to 'Back', roupas_path %>
